footer#site-footer
  div.jumbotron: div.container.text-wrapper.text-center.text-md-left: div.row

    div.col-md
      div.footer-logo
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      p: a(href="https://mickelmetekohy.com/" target="_blank") Visit mickelmetekohy.com

    div.col-md
      div
        h6.footerHours.collapsible-footer-item.pt-4.pt-md-0(type="button" data-toggle="collapse" data-target="#footerHours" aria-expanded="false" aria-controls="footerHours" role="button") Business Hours
        div#footerHours.collapse: p Mon-Fri: 9:00 — 18:00
      div
        h6.footerContactInfo.collapsible-footer-item.pt-4.pt-md-3(type="button" data-toggle="collapse" data-target="#footerContactInfo" aria-expanded="false" aria-controls="footerContactInfo" role="button") Contact Information
        div#footerContactInfo.collapse: p Phone: 
          a(href="tel:31618192827") +31-6-1819-2827
          br
          | Email: 
          a(href="mailto:mkr.metekohy@gmail.com") mkr.metekohy@gmail.com
          ul.social-media
              li: a(href="https://twitter.com/mickelmetekohy" target="_blank"): span.sr-only Twitter
              li: a(href="https://github.com/MickelMetekohy" target="_blank"): span.sr-only Github
              li: a(href="https://www.linkedin.com/in/mickel-metekohy-31105865" target="_blank"): span.sr-only Linkedin

    div.col-md
      h6(class="footerAddress collapsible-footer-item pt-4 pt-md-0" type="button" data-toggle="collapse" data-target="#footerAddress" aria-expanded="false" aria-controls="footerAddress" role="button") Address
      div#footerAddress.collapse: p MickelMetekohy
        br
        | Sint Annalaan 60,
        br
        | 6217KC Maastricht

